# dependencies
/node_modules
/.pnp
.pnp.*

# tests and builds
/coverage
/.next/
/out/

# local environment files
.env*
!.env.example

# deployment
.vercel

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
